.loader-wrapper {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    .title{
        color: rgba(255, 255, 255, 0.8);
        font-weight: 600;
    }

    .img{
        width: auto;
        height: 30px;
    }
}

.loader {
    width: 75px;
    aspect-ratio: 1;
    display: grid;
    border: 5px solid #0000;
    border-radius: 50%;
    border-right-color: #dc2626;
    /* border-right-color: var(--primary-color); */
    animation: l15 1s infinite linear;
}

.loader::before,
.loader::after {
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
    animation: l15 2s infinite;
}

.loader::after {
    margin: 8px;
    animation-duration: 3s;
}

@keyframes l15 {
    100% {
        transform: rotate(1turn)
    }
}